body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
  }

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }

  #headline {
    margin: 50px 0;
    text-align: center;
  }

  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }

  li {
    margin: 16px 0;
  }